
<div class="row">
  <div class="col-lg-9 col-md-8 col-sm-8 text-left">
    <h2 id="pageHeading">Welcome! </h2>
    <div class="text-box">
      <h3>You could be moments away from meeting your new best friend, and saving a life!</h3>
      <p>Meet our Ferrets and Critters! They want to meet you too. Check out some of our success stories below:</p>
    </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="successStory">
                <img class="img-circle img-responsive" src="/images/patron-beard.jpg">
                <p>Waldo and Aldo were meant for each other. Once we got wind of these two in search of warmth, we knew they could warm each others' hearts, and faces.</p>
              </div>
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="successStory">
                  <img class="img-circle img-responsive" src="/images/ferret-sweater.jpeg">
                  <p>Angelina was rescued from a junkyard, where she'd been taking refuge in a nest made of polyester rags. She was recently adopted and now only wears cashmere.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="successStory">
                  <img class="img-circle img-responsive" src="images/patron-kissferret.jpeg">
                  <p>Huxley was brought to Ferral Ferret Farm with two emaciated raccoons. Henriette adopted all three! Huxley now lives a happy life filled with raccoon raucous and ruckus.</p>
                </div>
            </div>
            <div class="  col-lg-4 col-md-6 col-sm-6">
                <div class="successStory">
                  <img class="img-circle img-responsive" src="images/ferret-leash.jpeg">
                  <p>Isadore was a service ferret in training that didn't make the cut and ended up here instead. He was adopted by a former cop. Together, they are a great duo and enjoy retirement.</p>
                </div>
            </div>
            <div class="  col-lg-4 col-md-6 col-sm-6">
                <div class="successStory">
                  <img class="img-circle img-responsive" src="images/ferret-on-tireSwing.jpg">
                  <p>Connor has issues and does not get along well with anybody, not even other ferrets. Luckily, the CEO of a jungle gym company recently adopted Connor and built him many toys since.</p>
                </div>
            </div>
          <div class=" col-lg-4 col-md-6 col-sm-6">
              <div class="successStory">
                <img class="img-circle img-responsive" src="images/adopted-ferret.jpg">
                <p>Spartina came to us with a crooked tail and the flu. Ferret Farm got her tail straightened out to improve her balance. She now has an inhaler, and works as a Shutterstock model with her person, a professional photographer.</p>
              </div>
          </div>
      </div>
    </div>
  <div class="right-side text-center col-lg-3 col-md-4 col-sm-4">
    <div class="sidebar">
      <p>Check out our sponsors:</p>
      <div><a href=""><img src="images/ads/ad-1.jpg" alt=""></a></div>
      <div><a href=""><img src="images/ads/ad-2.jpg" alt=""></a></div>
      <div><a href=""><img src="images/ads/ad-3.jpg" alt=""></a></div>
      <div><a href=""><img src="images/ads/ad-4.jpg" alt=""></a></div>
    </div>
  </div>
</div>
