<h2>Don't Abandon. Be Responsible.</h2>
<p>If you can no longer care for your critter responsibly, we can help.</p>

<div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-8 col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-1 text-box">
    <form class="center-block">
      <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="animal.name" type="text" class="form-control" placeholder="Fuzzball">
      </div>
      <div class="form-group">
        <label for="kind">Kind of Animal</label>
        <input ng-model="animal.kind" type="text" class="form-control" placeholder="Ferret">
      </div>
      <div class="form-group">
        <label for="Variety">Variety or Breed</label>
        <input ng-model="animal.variety" type="text" class="form-control" placeholder="brown">
      </div>
      <div class="form-group">
        <label for="Gender">Gender (if known:)</label>
        <input ng-model="animal.gender" type="text" class="form-control" placeholder="unknown, female, or male">
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input ng-model="animal.description" type = "text" class="form-control" placeholder = "cuddly, deaf ferret with missing eye">
      </div>
      <div>
        <label for="age">Age</label>
        <input ng-model="animal.age" type="text" class="form-control" placeholder="6">
      </div>

      <!-- <div class="checkbox">
        <label>
          <input type="checkbox"> Gets along with children?
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Gets along with other pets?
        </label>
      </div> -->
      <button class="btn btn-default" type="button" ng-click = "submitToPost()">Submit</button>
    </form>
  </div>

    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-4 col-lg-3 col-md-4 col-md-offset-2">
      <div class="imageFrame">
        <img class="img-responsive img-circle center-block" src="../../images/ferret-beckoning-look.jpg" alt="...">
      </div>
      <div class="imageFrame">
        <img class="img-responsive img-circle center-block" src="../../images/ferral-needToAdopt.jpeg" alt="...">
      </div>
    </div>
  </div>
</div>
