
<div class="row">
  <div class="col-lg-9 col-md-8 col-sm-8 text-left">
    <h2 id="pageHeading">Welcome! </h2>
    <div class="text-box">
      <h3>You could be moments away from meeting your new best friend, and saving a life!</h3>
      <p>Meet our Ferrets and Critters! They want to meet you too. Check out some of our success stories below:</p>
      <div id="pairedClients">
        <ul class="list-inline">
          <li class="img-responsive"><img class="pair img-circle" src="http://placehold.it/150x150"></li>
          <li class="img-responsive"><img class="pair img-circle" src="http://placehold.it/150x150"></li>
          <li class="img-responsive"><img class="pair img-circle" src="http://placehold.it/150x150"></li>
        </ul>
        <ul class="list-inline">
          <li class="img-responsive"><img class="pair img-circle" src="http://placehold.it/150x150"></li>
          <li class="img-responsive"><img class="pair img-circle" src="http://placehold.it/150x150"></li>
          <li class="img-responsive"><img class="pair img-circle" src="http://placehold.it/150x150"></li>
        </ul>
      </div>
    </div>
  </div>
  <!--  col-sm-12 -->
  <div class="text-center col-lg-3 col-md-4 col-sm-4">
    <div class="sidebar">
      <p>Check out our sponsors:</p>
      <div class="ad"><img src="http://placehold.it/250x150" alt=""></div>
      <div class="ad"><img src="http://placehold.it/250x150" alt=""></div>
      <div class="ad"><img src="http://placehold.it/250x150" alt=""></div>
      <div class="ad"><img src="http://placehold.it/250x150" alt=""></div>
    </div>
  </div>
</div>
