<h2>Don't Abandon. Be Responsible.</h2>
<p>If you can no longer care for your critter responsibly, we can help.</p>

<div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-9 co-lg-6 col-md-6 text-box">
    <form class="center-block">
      <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="animal.name" type="text" class="form-group" placeholder="Fuzzball">
      </div>
      <div class="form-group">
        <label for="kind">Kind of Animal</label>
        <input ng-model="animal.kind" type="text" class="form-group" placeholder="Ferret">
      </div>
      <div class="form-group">
        <label for="Variety">Variety or Breed</label>
        <input ng-model="animal.variety" type="text" class="form-group" placeholder="brown">
      </div>
      <div class="form-group">
        <label for="Gender">Gender (if known:)</label>
        <input ng-model="animal.gender" type="text" class="form-group" placeholder="unknown, female, or male">
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input ng-model="animal.description" type = "text" class="form-group" placeholder = "cuddly, deaf ferret with missing eye">
      </div>
      <div>
        <label for="age">Age</label>
        <input ng-model="animal.age" type="text" class="form-group" placeholder="6">
      </div>

      <!-- <div class="checkbox">
        <label>
          <input type="checkbox"> Gets along with children?
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Gets along with other pets?
        </label>
      </div> -->
      <button class="btn btn-default" type="button" ng-click = "submitToPost()">Submit</button>
    </form>
  </div>

    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-3 col-lg-6 col-md-6">
        <img class="img-responsive img-rounded" src="http://www.ferretuniverse.com/discus/messages/1263/65323.jpg" alt="...">
    </div>
  </div>
</div>
